<% layout("layouts/boilerplate") %>

<div class="row">
	<div class="col-6 offset-3 text-center">
		<div class="alert alert-danger" role="alert">
		  <h4 class="alert-heading">ERROR!!!! - <%=err.message%></h4>
			<!-- 	DISPLAY ERROR STACK ONLY IN DEVELOPMENT		 -->
			<% if(process.env.NODE_ENV !== "production"){ %>
				<p><%=err.stack%></p>
			<% } %>
		  <hr>
		</div>
	</div>
</div>